.todoTextInput {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.todoTextInput > input {
  background-color: #fff;
  max-width: 478px;
  min-width: 340px;
  width: 100%;
  height: 46px;
  border: none;
  border-radius: 9999px;
  padding: 0 20px 0 20px;
  /* font */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #bcbcbc;
}

.todoTextInput > input:focus {
  color: #323232 !important;
}

/* @media (max-width: 768px) {
  .todoTextInput {
    max-width: 478px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .todoTextInput > input {
    max-width: 478px;
    min-width: 340px;
    width: 100%;
  }
} */
